body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.container {
    display: flex;
}

.image-container, #grayscale-container {
    width: 50%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#grayscale-container canvas {
    width: 100% !important;
    height: auto !important;
}

#halftone-container {
    display: flex;
    justify-content: center; /* horizontally center */
    width: 100%;
    height: auto !important;
}

#halftone-container canvas {
    width: 50% !important;
    height: auto !important;
    display: block;
}